<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Usuarios</title>
    <!-- Importar CSS personalizado -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/mantenedores.css}" rel="stylesheet">
    <!-- Importar Materialize CSS -->
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet">
    <!-- Importar JavaScript de Materialize -->
    <script th:src="@{/js/materialize.min.js}"></script>
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-wrapper navegacion">
            <!-- <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logo.jpeg}" alt="logo"></a> -->
            <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logotemp.png}" alt="logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li th:if="${token != null}">
                    <a th:href="@{/detallereceta}" >Detalle Recetas</a>
                </li>
                <li th:if="${token != null}">
                    <a th:href="@{/crearreceta}" >Publicar Recetas</a>
                </li>
                <li th:if="${token != null}">
                    <a th:href="@{/vermisrecetas/{id}(id=${user.id})}" >Ver Mis Recetas</a>
                </li>

            </ul>
        </div>
    </nav>
    <main>
    <!-- Contenido principal -->
    <div class="container">
        <div class="titular box fleft fwidth text-center">
            <h2>Mantenedor de usuarios</h2>
        </div>
        <section id="usuarios" class="container">
            <table>
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Rol</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Alvin Padre</td>
                    <td>alvin.padre@gmail.com</td>
                    <td>ROLE_USER</td>
                    <td>
                        <a class="waves-effect waves-light btn">Editar</a>
                        <a class="waves-effect red accent-4 btn">Eliminar</a>
                        <!-- <a th:href="@{/editarusuario/{id}(id=${usuario.id})}" 
                           class="waves-effect waves-light btn">Editar</a>
                        <a th:href="@{/eliminarusuario/{id}(id=${usuario.id})}" 
                           class="waves-effect red accent-4 btn"
                           onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Eliminar</a> -->
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </section>
        <br>
        <br>
        <a th:href="@{/crearusuario}" class="waves-effect waves-light btn">Crear Usuario</a>
        
    </div>
</main>
     <!-- Footer -->
     <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Seguridad y Calidad</h5>
                    <p class="grey-text text-lighten-4">Demo para la actividad solicitada</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Seguridad y Calidad
                <a class="grey-text text-lighten-4 right" href="#!">Más Información</a>
            </div>
        </div>
    </footer>
   


    <script th:src="@{/js/carrusel.js}"></script>

  

</body>
</html>
