<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Receta</title>
    <!-- Importar CSS personalizado -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- Importar Materialize CSS -->
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet">
    <link th:href="@{/css/materializecustom.css}" rel="stylesheet">
    <!-- Importar JavaScript de Materialize -->
    <script th:src="@{/js/materialize.min.js}"></script>
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-wrapper navegacion">
            <!-- <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logo.jpeg}" alt="logo"></a> -->
            <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logotemp.png}" alt="logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li th:if="${token != null}">
                    <a th:href="@{/detallereceta}" >Detalle Recetas</a>
                </li>
                <li th:if="${token != null}">
                    <a th:href="@{/crearreceta}" >Publicar Recetas</a>
                </li>
                <li th:if="${token != null}">
                    <a th:href="@{/vermisrecetas/{id}(id=${user.id})}" >Ver Mis Recetas</a>
                </li>

            </ul>
        </div>
    </nav>

    <div id="wrapper" class="container-fluid">
        <section id="carrusel" class="container-fluid">
            <div class="carousel">
                <a class="carousel-item" href="#uno"><img th:src="@{/images/carrusel/oferta-1.png}" alt="Oferta 1"></a>
                <a class="carousel-item" href="#dos"><img th:src="@{/images/carrusel/oferta-2.jpg}" alt="Oferta 2"></a>
                <a class="carousel-item" href="#tres"><img th:src="@{/images/carrusel/oferta-3.jpg}" alt="Oferta 3"></a>
            </div>
        </section>

    </div>

    <!-- Contenido principal -->
    <div class="container">
        <!-- Notificación de éxito -->
        <div th:if="${message}" class="alert alert-success">
            <p th:text="${message}"></p>
        </div>

        <!-- Notificación de error -->
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <section id="publicar" class="container">
            <div class="titular box fleft fwidth text-center">
                <h2>Publicar una Receta</h2>
            </div>
            <br>
            <br>
            <br>
            <form id="publicar-recetas" th:action="@{/publicar}" method="post" enctype="multipart/form-data">
                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
                <div class="input-field">
                    <label for="nombre">Nombre de la receta:</label>
                    <input type="text"  id="nombre" name="nombre" placeholder="Buscar por nombre">
                </div>
                <div class="input-field">
                    <label for="ingredientes" class="active">Ingredientes</label>
                    <select id="ingredientes" name="ingredientes" searchable="Selecicona los ingredientes" multiple>
                        <option th:each="ingrediente : ${ingredientesback}" 
                        th:text="${ingrediente.nombreIngrediente}" 
                        th:value="${ingrediente.nombreIngrediente}">
                        </option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="instruccionesPreparacion">Instrucciones de Preparacion:</label>
                    <textarea id="instruccionesPreparacion" name="instruccionesPreparacion" class="materialize-textarea" placeholder="Escribe una breve descripción de la receta..."></textarea>
                   
                </div>

                <div class="input-field">
                    <label for="tipoCocina">Tipo de cocina:</label>
                    <input type="text" id="tipoCocina" name="tipoCocina" placeholder="Ej. Italiana, Mexicana">
                </div>
                <div class="input-field">
                    <label for="paisOrigen">País de origen:</label>
                    <input type="text" id="paisOrigen" name="paisOrigen" placeholder="Ej. España, México">
                </div>
                <div class="input-field">
                    <label for="tiempoCoccion">Tiempo de Cocción en minutos:</label>
                    <input type="text" id="tiempoCoccion" name="tiempoCoccion" placeholder="Ej. 10 Minutos">
                </div>
                <div class="input-field">
                    <select id="dificultad" name="dificultad" autocomplete="off" autocorrect="off">
                        <option value="" disabled selected>Seleccione dificultad</option>
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                    <label for="dificultad">Dificultad:</label>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Subir Imagen</span>
                        <input type="file" name="imagen" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="imagen" class="file-path validate" type="text" placeholder="Selecciona un archivo de imagen">
                    </div>
                </div>

                <button type="submit" id="publicarBtn" class="btn waves-effect waves-light">Publicar</button>
            </form>

            <br>

        </section>
        
    </div>

     <!-- Footer -->
     <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Seguridad y Calidad</h5>
                    <p class="grey-text text-lighten-4">Demo para la actividad solicitada</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Seguridad y Calidad
                <a class="grey-text text-lighten-4 right" href="#!">Más Información</a>
            </div>
        </div>
    </footer>
   


    <script th:src="@{/js/carrusel.js}"></script>
    <script th:src="@{/js/materializecustom.js}"></script>
  

</body>
</html>
