<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <!-- Importar CSS personalizado -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- Importar Materialize CSS -->
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet">
    <!-- Importar JavaScript de Materialize -->
    <script th:src="@{/js/materialize.min.js}"></script>
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-wrapper navegacion">
            <!-- <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logo.jpeg}" alt="logo"></a> -->
            <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logotemp.png}" alt="logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}" >Login</a></li>
                <li><a th:href="@{/detallereceta}" >Detalle Recetas</a></li>
            </ul>
        </div>
    </nav>

    <div id="wrapper" class="container-fluid">
        <section id="carrusel" class="container-fluid">
            <div class="carousel">
                <a class="carousel-item" href="#uno"><img th:src="@{/images/carrusel/oferta-1.png}" alt="Oferta 1"></a>
                <a class="carousel-item" href="#dos"><img th:src="@{/images/carrusel/oferta-2.jpg}" alt="Oferta 2"></a>
                <a class="carousel-item" href="#tres"><img th:src="@{/images/carrusel/oferta-3.jpg}" alt="Oferta 3"></a>
            </div>
        </section>

    </div>

    <!-- Contenido principal -->
    <div class="container">


        <section id="recetas-destacadas" class="container">
            <div class="titular box fleft fwidth text-center">
                <h2>Recetas Destacadas</h2>
            </div>
            <div class="row" id="recetas-destacadas-container">
                <div th:each="receta : ${recetasPorPopularidad}" class="col s4">
                    <div class="receta">
                        <h3 th:text="${receta.nombre}">Nombre de la receta</h3>
                        <img th:src="${receta.urlImagen}" th:alt="${receta.nombre}" class="receta-imagen" />
                        <p><strong>Tipo de Cocina:</strong> <span th:text="${receta.tipoDeCocina}">Tipo de cocina</span></p>
                        <p><strong>Dificultad:</strong> <span th:text="${receta.dificultadElaboracion}">Dificultad</span></p>
                        <p><strong>Tiempo de Cocción:</strong> <span th:text="${receta.tiempoCoccion}">Tiempo de cocción</span></p>
                        <!-- <p><strong>Fecha de Creación:</strong> <span th:text="${#dates.format(receta.fechaCreacion, 'dd/MM/yyyy')}">Fecha</span></p> -->
                        <!-- <p><strong>Popularidad:</strong> <span th:text="${receta.popularidad}">0</span> / 5</p> -->
                    </div>
                </div>
                
            </div>

        </section>

        <section id="recetas-nuevas" class="container">
            <div class="titular box fleft fwidth text-center">
                <h2>Nuevas Recetas</h2>
            </div>
            <div class="row" id="recetas-nuevas-container">
                <div th:each="receta : ${recetasPorFecha}" class="col s4">
                <div class="receta">
                    <h3 th:text="${receta.nombre}">Nombre de la receta</h3>
                    <img th:src="${receta.urlImagen}" th:alt="${receta.nombre}" class="receta-imagen" />
                    <p><strong>Tipo de Cocina:</strong> <span th:text="${receta.tipoDeCocina}">Tipo de cocina</span></p>
                    <p><strong>Dificultad:</strong> <span th:text="${receta.dificultadElaboracion}">Dificultad</span></p>
                    <p><strong>Tiempo de Cocción:</strong> <span th:text="${receta.tiempoCoccion}">Tiempo de cocción</span></p>
                    <!-- <p><strong>Fecha de Creación:</strong> <span th:text="${#dates.format(receta.fechaCreacion, 'dd/MM/yyyy')}">Fecha</span></p> -->
                    <!-- <p><strong>Popularidad:</strong> <span th:text="${receta.popularidad}">0</span> / 5</p> -->
                </div>
            </div>
            </div>

            
        </section>

        <section id="filtro" class="container">
            <div class="titular box fleft fwidth text-center">
                <h2>Filtrar Recetas</h2>
            </div>
            <br>
            <br>
            <br>
            <form id="filtro-recetas" th:action="@{/filtrar}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="input-field">
                    <label for="nombre">Nombre de la receta:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Buscar por nombre">
                </div>
                <div class="input-field">
                    <label for="tipoCocina">Tipo de cocina:</label>
                    <input type="text" id="tipoCocina" name="tipoCocina" placeholder="Ej. Italiana, Mexicana">
                </div>
                <div class="input-field">
                    <label for="ingredientes">Ingredientes:</label>
                    <input type="text" id="ingredientes" name="ingredientes" placeholder="Ej. Pollo, Arroz">
                </div>
                <div class="input-field">
                    <label for="paisOrigen">País de origen:</label>
                    <input type="text" id="paisOrigen" name="paisOrigen" placeholder="Ej. España, México">
                </div>
                <div class="input-field">
                    
                    <select id="dificultad" name="dificultad" autocomplete="off" autocorrect="off">
                        <option value="" disabled selected>Seleccione dificultad</option>
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                    <label for="dificultad">Dificultad:</label>
                </div>
                <button type="submit" id="filtrarBtn" class="btn waves-effect waves-light">Filtrar</button>
            </form>

            <br>

            <div class="row" id="recetas-filtradas-container">
                <div th:each="receta : ${recetasPorFiltro}" class="col s4">
                    <div class="receta">
                        <h3 th:text="${receta.nombre}">Nombre de la receta</h3>
                        <img th:src="${receta.urlImagen}" th:alt="${receta.nombre}" class="receta-imagen" />
                        <p><strong>Tipo de Cocina:</strong> <span th:text="${receta.tipoDeCocina}">Tipo de cocina</span></p>
                        <p><strong>Dificultad:</strong> <span th:text="${receta.dificultadElaboracion}">Dificultad</span></p>
                        <p><strong>Tiempo de Cocción:</strong> <span th:text="${receta.tiempoCoccion}">Tiempo de cocción</span></p>
                        <!-- <p><strong>Fecha de Creación:</strong> <span th:text="${#dates.format(receta.fechaCreacion, 'dd/MM/yyyy')}">Fecha</span></p> -->
                        <!-- <p><strong>Popularidad:</strong> <span th:text="${receta.popularidad}">0</span> / 5</p> -->
                    </div>
                </div>
            </div>

        </section>
        
    </div>

     <!-- Footer -->
     <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Seguridad y Calidad</h5>
                    <p class="grey-text text-lighten-4">Demo para la actividad solicitada</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Seguridad y Calidad
                <a class="grey-text text-lighten-4 right" href="#!">Más Información</a>
            </div>
        </div>
    </footer>
   


    <script th:src="@{/js/carrusel.js}"></script>

  

</body>
</html>
