<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Receta</title>
    <!-- Importar CSS personalizado -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/verreceta.css}" rel="stylesheet">
    <!-- Importar Materialize CSS -->
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet">
    <link th:href="@{/css/materializecustom.css}" rel="stylesheet">
    <!-- Importar JavaScript de Materialize -->
    <script th:src="@{/js/materialize.min.js}"></script>
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-wrapper navegacion">
            <!-- <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logo.jpeg}" alt="logo"></a> -->
            <a href="#" class="brand-logo"><img class="logo" th:src="@{/images/logotemp.png}" alt="logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li th:if="${token != null}">
                    <a th:href="@{/detallereceta}" >Detalle Recetas</a>
                </li>
                <li th:if="${token != null}">
                    <a th:href="@{/crearreceta}" >Publicar Recetas</a>
                </li>
                <li th:if="${token != null}">
                    <a th:href="@{/vermisrecetas/{id}(id=${user.id})}" >Ver Mis Recetas</a>
                </li>

            </ul>
        </div>
    </nav>

    <div id="wrapper" class="container-fluid">
        <section id="carrusel" class="container-fluid">
            <div class="carousel">
                <a class="carousel-item" href="#uno"><img th:src="@{/images/carrusel/oferta-1.png}" alt="Oferta 1"></a>
                <a class="carousel-item" href="#dos"><img th:src="@{/images/carrusel/oferta-2.jpg}" alt="Oferta 2"></a>
                <a class="carousel-item" href="#tres"><img th:src="@{/images/carrusel/oferta-3.jpg}" alt="Oferta 3"></a>
            </div>
        </section>

    </div>

    <!-- Contenido principal -->
    <div class="container">
        <!-- Notificación de éxito -->
        <div th:if="${message}" class="alert alert-success">
            <p th:text="${message}"></p>
        </div>

        <!-- Notificación de error -->
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <section id="publicar" class="container">
            <div class="titular">
                <h2>Detalles de la receta</h2>
            </div>
            <div class="row">
                <!-- Imagen de la receta -->
                <div class="recipe-image">
                    <img th:src="@{${receta.urlImagen}}" th:alt="${receta.nombre}" />
                </div>
                <!-- Información de la receta -->
                <div class="recipe-info">
                    <h5 th:text="${receta.nombre}">Nombre de la receta</h5>
                    <p><strong>País de Origen:</strong> <span th:text="${receta.paisDeOrigen}">País de Origen</span></p>
                    <p><strong>Tipo de Cocina:</strong> <span th:text="${receta.tipoDeCocina}">Tipo de cocina</span></p>
                    <p><strong>Dificultad:</strong> <span th:text="${receta.dificultadElaboracion}">Dificultad</span></p>
                    <p><strong>Instrucciones:</strong> <span th:text="${receta.instruccionesPreparacion}">Instrucciones</span></p>
                    <p><strong>Ingredientes:</strong></p>
                    <ul>
                        <li th:each="ingrediente : ${receta.recetaIngredientes}" th:text="${ingrediente.nombreIngrediente}"></li>
                    </ul>
                    <p><strong>Tiempo de Cocción:</strong> <span th:text="${receta.tiempoCoccion}">Tiempo de cocción</span></p>
                    <p><strong>Fecha de Creación:</strong> <span th:text="${#dates.format(receta.fechaCreacion, 'dd/MM/yyyy')}">Fecha</span></p>
                    <p><strong>Popularidad:</strong> <span th:text="${receta.popularidad}">0</span> / 5</p>
                    <a href="#" class="btn" th:data-id="${receta.id}" onclick="copiarEnlace(this)">Compartir Receta</a>



                </div>
            </div>
            <div class="titular">
                <h2>Video de preparación</h2>
            </div>
            <div class="video-container" th:if="${receta.urlVideo != null}">
                <iframe th:src="@{${receta.urlVideo}}" 
                        width="560" 
                        height="315" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
            </div>
            <p class="no-video-message" th:if="${receta.urlVideo == null}">
                Esta receta no tiene un video disponible.
            </p>
        </section>
        
    </div>

     <!-- Footer -->
     <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Seguridad y Calidad</h5>
                    <p class="grey-text text-lighten-4">Demo para la actividad solicitada</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Seguridad y Calidad
                <a class="grey-text text-lighten-4 right" href="#!">Más Información</a>
            </div>
        </div>
    </footer>
   


    <script th:src="@{/js/carrusel.js}"></script>
    <script th:src="@{/js/materializecustom.js}"></script>
    <script th:src="@{/js/verreceta.js}"></script>
  

</body>
</html>
